@model Stocks.Data.Models.StockTicker

<form method="post" action="/stocks/1">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name" value="Sample Stock" />
    <button type="submit">Save</button>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8OlUhkl023pBqaqAuRJJVFlX_qTiDDCwKqdunkGl5UngeOynceNCg8SdGgU-kLUYTTt-vLQvWD62ZlWh4aQadtmR1-5lZaThIfotEqt4CevzdopvMCp4eBVTjIzcqgsvsXx8OmeSQLcoI5-6T3ehrmY" />
</form>